@font-face {
    font-family: pixel;
    src: url(Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: anta;
    src: url(Anta/Anta-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(91, 30, 159, 1) 0%, rgba(77, 39, 182, 1) 70%);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
  }

h1 {
    font-family: anta;
    font-weight: 800;
    font-size: 4rem;
    color: #fff;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 6vh;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button {
    width: 30%;
    background-color: yellow;
    border: none;
    padding: 25px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
    background: #FFF;
}

#results {
    max-height: 400px;
    overflow-y: auto;
    border: 2px solid #ccc;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 20px
  }

  .primeiro-lugar {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
  }